<mat-card class="my-card">
  <mat-card-content>
    <table *ngIf="showLogin">
      <tbody [formGroup]="signinForm">
        <tr>
          <td>
            <mat-form-field>
              <input
                placeholder="username here.."
                type="text"
                matInput
                formControlName="name"
              />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field>
              <input
                placeholder="Password here.."
                type="text"
                matInput
                formControlName="password"
              />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <button mat-raised-button color="accent" (click)="usersignIn()">
              SignIn
            </button>
          </td>
        </tr>
        <tr>
          <td>
            <button mat-button (click)="showLogin = !showLogin">
              Create Account
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <table *ngIf="!showLogin">
      <tbody [formGroup]="signupForm">
        <tr>
          <td>
            <mat-form-field>
              <input
                placeholder="username here.."
                type="text"
                matInput
                formControlName="name"
              />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field>
              <input
                placeholder="Email here.."
                type="text"
                matInput
                formControlName="email"
              />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field>
              <input
                placeholder="Password here.."
                type="text"
                matInput
                formControlName="password"
              />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <button mat-raised-button color="accent" (click)="createUser()">
              SignUp
            </button>
          </td>
        </tr>
        <tr>
          <td>
            <button mat-button (click)="showLogin = !showLogin">
              Already have accout?? login here
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </mat-card-content>
</mat-card>
